body {
	font-family: 'nunitoextralight', sans-serif;
	font-size: 20px;
	color: #3f3f3f;
	padding: 30px;
	font-weight: 200;
}

/*@media screen and (min-width: 1200px) {
	body {
		font-size: 28px;
	}
}*/

@media screen and (max-width: 1200px) {
	body {
		font-size: 15px;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 12px;
	}
}

a {
	color: #3f3f3f;
}

a:hover {
	text-decoration: underline;
	color: inherit;
}


.c-std {
	color: #3f3f3f;
}

.c-acc {
	color: #3030a9;
}

.ichi {
	font-size: 4.5em;
	margin: 0.2em 0em;
}

.nii {
	font-size: 2.4em;
	margin: 0.3em 0em;
}

.san {
	font-size: 1.7em;
	margin: 0.4em 0em;
}

.yon {
	font-size: 1.2em;
	margin: 0.4em 0em;
}

.go {
	font-size: 1.0em;
	margin: 0.8em 0em 0.3em 0;
}

.b400 {
	/*font-weight: 400;*/
	font-family: 'nunitoregular';
}

.b600 {
	/*font-weight: 600;*/
	font-family: 'nunitobold';
}

.b800 {
	/*font-weight: 800*/
	font-family: 'nunitoextrabold';
}


#header {
	/*font-size: 3.5em;*/
	margin-bottom: 2em;
}

#header small {
	font-size: 0.5em;
}

#sidebar {
	margin-right: 2em;
}

#settings {
	text-align: center;
}

#main {
	border-left: 1px solid #d7d7d7;
}

.btn {
	background: #3030a9;
	width: 3.5em;
	height: 3.0em;
	background-repeat: no-repeat;
	background-position: center; 
	border: none;
}

.btn:hover, .btn.active {
	background: #fff;
	background-repeat: no-repeat;
	background-position: center; 
	border: 3px solid #3030a9;
}

#settings .btn {
	/*background: #3030a9;
	width: 3.5em;
	height: 3.0em;
	background-repeat: no-repeat;
    background-position: center; 
    border: none;*/
    margin: 1em 0.5em 1em 0.5em;
}

#WNTree {
	display: none;
	width: 100%;
	position: relative;
}

#ttpBg {
	fill: rgba(200, 200, 200, 0.7);
}

.btn#dendr-rep {
	background-image: url('svg-icons/tree-structure.svg');
	background-size: 24px 24px;
}

.btn#dendr-rep:hover {
	background-image: url('svg-icons/tree-structure_hover.svg');
	background-size: 24px 24px;
}

.btn#text-rep {
	background-image: url('svg-icons/central-align.svg');
	background-size: 24px 24px;
}

.btn#text-rep:hover {
	background-image: url('svg-icons/central-align_hover.svg');
	background-size: 24px 24px;
}

.btn#about {
	background-image: url('svg-icons/information-circular-button-symbol.svg');
	background-size: 24px 24px;
}

.btn#about:hover {
	background-image: url('svg-icons/information-circular-button-symbol_hover.svg');
	background-size: 24px 24px;
}

.btn#search-butt {
	background-image: url('svg-icons/search.svg');
	background-size: 24px 24px;
}

.btn#search-butt:hover {
	background-image: url('svg-icons/search_hover.svg');
	background-size: 24px 24px;
}

#search input {
	height: 3.0em;
	border: 3px solid #3030a9;
	background: #fff;
	color: #3f3f3f;
}

#search {
	margin-bottom: 1em;
	padding-bottom: 2em;
	border-bottom: 1px solid #d7d7d7;
	font-size: inherit;
}

#synsets {
	margin-left: 1em;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 1em;
	padding-bottom: 2em;
}

#synsets .list-group-item, #semGroups .list-group-item {
	line-height: 1.2em;
	color: #3f3f3f;
	border: none;
}

#synsets .list-group-item.active, #semGroups .list-group-item.active {
	color: #3030a9;
	background: inherit;
	font-weight: 600;
}

.list-group-item:hover {
	text-decoration: underline;
}

#wordMain {
	font-weight: 400;
	margin-bottom: 0.2em;
}

#wordDef {
	font-size: 1.1em;
}

.properties {
	font-size: 0.8em;
	margin-left: 1em;
}

#semGroups {
	margin-top: 1.4em;
	padding-top: 1.2em;
	border-top: 1px solid #d7d7d7;
}

#semGroups h3 {
	text-align: center;
}

/*#semGroups:not(:last-child) {
	border-right: 1px solid #d7d7d7;
}
*/
.sem-rels:not(:last-child) > ul {
	border-right: 1px solid #d7d7d7;
	height: 100%;
}

/* in future we might need something like https://css-tricks.com/snippets/css/remove-margins-first-element/ and more*/

#semGroups .row {
	display:         flex;
	flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}